<ion-view title="Forgot Password" style="background: #FEAE1B;" cache-view="false">
    <ion-content>
        <div class="padding text-center" style="padding-top: 10%;padding-bottom: 10%">
            <img ng-src="{{logochowapp}}">
        </div>
        <form style="padding: 5px;" ng-submit="reset()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="user.email">
                </label>
                <button class="abutton button button-block button-outline button-positive" ng-click="reset()">Reset Password</button>
                <a style="color: white" class="button button-block button-clear button-calm" href="#/login">Login</a>
            </div>
        </form>
    </ion-content>
</ion-view>
