<style type="text/css">

</style>
<ion-view scroll="false" hide-nav-bar="true" cache-view="false" >
    <ion-content has-header="false" padding="'true'" style="background: #FEAE1B;">
        <div class="padding text-center" style="padding-top: 30%;padding-bottom: 20%">
            <img ng-src="{{logochowapp}}">

        </div>

        <div class="row">
            <div class="col col-50 text-center">
                <a href="#/login">
                    <button class="abutton button button-block button-outline button-positive ">
                        Login
                    </button>
                </a>
            </div>
           
            <div class="col col-50 text-center">
                <a href="#/register">
                    <button class="abutton button button-block button-outline button-positive ">
                        Sign up
                    </button>
                </a>
            </div>
        </div>
         <!-- <div class="row"> <div class="col text-center">
                <a href="#/login">
                    <button class="abutton button button-block button-outline button-positive ">
                        Facebook
                    </button>
                </a>
            </div>
         </div> -->
    </ion-content>
</ion-view>
