<ion-view view-title="Payment Success" cache-view="false" >
    <ion-content>
        <div class="list card padding">
            <div class="item item-text-wrap">
                Thank you for Order
            </div>
            <a href="#/home">
                <button class="abutton button button-block button-balanced" style="background: #FEAE1B">
                    Go Home
                </button>
            </a>
        </div>
        <!-- <button class="button button-block button-energized">
            Add to Cart
        </button> -->
    </ion-content>
</ion-view>
